# Node
node_modules/
npm-debug.log

# Android
*.iml
.gradle/
local.properties
/.idea/
.DS_Store
build/
app/build/

# ignore python venvs anywhere
**/.venv/
**/venv/

# node_modules for nms-web
**/node_modules/

# common
__pycache__/
*.pyc

# General
.env
config